body{
    background:rgb(102, 153, 211);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font: bold;
    font-size: 3em;
}
div {
    background: white;
    width: auto;
    margin: 80px;
    padding:50px;
    font: italic 2em Arial,Helvetica, sans-serif;
    border-radius:20px ;
}
input{
    width: 60px;
    height: 25px;
    font: bolder;
}